.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* header-style */
/* nav-style */

.btn-primary {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid rgb(0, 106, 80);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 160px;
}

.nav-title {
    font-weight: 700;
    font-size: 32px;

}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    margin: 80px 160px;
    background: rgb(198, 228, 214);
    border-radius: 24px;

}

.banner-content {
    width: 622px;
    height: 326px;
    margin: 0px 64px;
}

.btn-banner {
    background-color: rgb(0, 106, 80);
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.banner-head {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    padding: 0px
}

.banner-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    padding: 0px;
}

.banner-picture {
    width: 474.03px;
    height: 400px;
    margin: 0px 64px;
    padding: 80px 60px;
}

/* main-style */

.about-future {
    margin: 80px 160px;
    align-self: stretch;
}

.future-technology {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;

}

.section-title {
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}

.section-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.technology-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;

}

.technology-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.technology-one {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
    gap: 24px;
}

.technology-two {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
    gap: 24px;
}

.technology-three {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
    gap: 24px;
}

.button-one {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
    width: 122px;
    height: 41px;
    margin: 10px 0;
}

.button-two {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgb(9, 161, 92);
    border: none;
    width: 122px;
    height: 41px;
    margin: 10px 0;
}

.button-three {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    border: none;
    width: 122px;
    height: 41px;
    margin: 10px 0;
}

.news {
    margin: 0px 160px;
    align-self: stretch;


}

.news-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    padding: 0;
}

.news-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}

.satelite {
    display: flex;
    margin: 24px 80px;
    align-self: stretch;
    background: rgb(255, 255, 255);
    border-radius: 24px;
    padding: 48px;

}

.satelite-container {
    margin: 0px 32px;
    padding: 0px;

}

.satelite-img {
    border-radius: 24px;
    margin: 0px 32px;
}

.satelite-title {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}

.logo {
    margin: 12px 0px;
}

.date-time {
    margin: 12px 0px;
}

.satelite-description {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.satelite-btn {
    padding: 13px 26px;
    margin: 32px 0px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.donate {
    margin: 0 80px;
    text-align: center;
}

.donate-money {
    display: flex;
    margin: 0 300px;
    text-align: center;
}

.donate-container {
    margin: 32px 0px;
}

.donate-title {
    margin: 24px 0px;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.donate-description {
    margin: 0px 24px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;

}

.item {
    padding: 40px;
    margin: 0px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
}

.item-one {
    border-radius: 16px;
    background: rgb(198, 228, 214);
    margin: 0px 24px;
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
}

.amount {
    background: rgb(255, 255, 255);
    margin: 32px 0px;
    padding: 20px 40px;
    gap: 24;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
}

.submit {
    padding: 17px 34px 17px;
    margin: 32px 0px;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

/* footer-style */

.footer {
    text-align: center;
    gap: 32px;

}

.footer-title {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0px;

}