.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header-style */
/* nav-style */

.btn-primary {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid rgb(0, 106, 80);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 160px;
}

.nav-title {
    font-weight: 700;
    font-size: 32px;
}

/* main-style */

/* footer-style */